<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property file="./log_aws_s3.properties" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>